.add-to-cart__container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  align-items: center;
  margin: 3.2rem auto;
  gap: 1.6rem;
}

.login__button,
.logout__button {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.login__button:hover,
.logout__button:hover {
  background-color: #0056b3;
}

.add-to-cart__image {
  margin-top: 1rem;
  max-width: 25rem;
}

.add-to-cart__input,
.add-to-cart__button {
  font-family: var(--font-headings);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
}

.add-to-cart__input {
  color: var(--text);
  background-color: var(--neutral-gray);
}

.add-to-cart__input::placeholder {
  color: var(--neutral-white);
}

.add-to-cart__button {
  cursor: pointer;
  color: var(--text);
  background-color: var(--primary);
}

.add-to-cart__button:hover {
  color: var(--secondary);
  background-color: var(--secondary-support);
}

.add-to-cart__button:disabled {
  cursor: not-allowed;
  color: var(--neutral-white);
  background-color: var(--neutral-gray);
}

.add-to-cart__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-to-cart__error {
  display: none;
}

.add-to-cart__empty-list,
.add-to-cart__error {
  color: var(--primary);
  font-size: 1.2rem;
}
